body * {
  font-family:'Work Sans';
    position:relative;
}
html,body,section,main,footer,header {
  display:block;
  float:left;
  width:100%;
}
html,body {
  min-height:100%;
}
a:hover {
  text-decoration:none;
}

header {
  position:fixed;
  top:0;
  left:0;
  background-color:rgba(255,255,255,0.9);
  text-align:center;
  z-index:100;

  nav {
    text-align:right;
  }
}
  .header-cont {
    padding:2em 3em 1em 3em;
  }
  .drawer-push header {
    left:-20em;
  }
  header nav,header ul {
    float:none;
    display:inline-block;
    padding:0;
  }
    header li {
      list-style:none;
      float:left;
    }
    header li + li {
      margin-left:1em;
    }
    header li a {
      padding:0.75em 0.5em;
      display:inline-block;
      text-transform:uppercase;
      letter-spacing:0.1em;
      color:#666;
    }
      header a:hover:not(.small-button) {
        border-bottom:1px dotted #ccc;
      }
  .header-text {
    padding:0.75em;
    display:inline-block;
    text-transform:uppercase;
    position:relative;
  }
  .header-title {
    float:left;
    text-transform:uppercase;
    font-size:1.5em;
    margin:0;
    font-family:'Raleway';
    font-weight:700;
    padding:0.5em;
    color:#000;
    text-align:left;
  }
    .header-title:hover {
      opacity:0.5;
    }
    .header-title span {
      font-weight:300;
    }
.forms-cont {
    padding:10em 3.5em;
    text-align:center;

    h1 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2em;
    }

    .select {
        width:22.5em;
    }
}
.button,div.select,.options a {
  display:inline-block;
  border:2px solid #000;
  color:#000;
  text-transform:uppercase;
  padding: 1.75em 3em;
  font-size:0.8em;
  letter-spacing:0.25em;
  margin-top:0.5em;
  background-color:#FFF;
}
  .button.faded {
    border:2px solid #ccc;
    color:#ccc;
  }
  .button:not(.faded):hover,div.select:hover,div.select.s {
    color:#FFF;
    background-color:#000;
    text-decoration:none;
  }
  div.select {
    padding-right:5em;
    position:relative;
    text-align:left;
    cursor:pointer;
  }
  .colored .select {
    background-color:transparent;
    border:2px solid #FFF;
    color:#FFF;
  }
    .colored .select .arrow-down {
      border-bottom:1px solid #FFF;
      border-right:1px solid #FFF;
    }
    .colored .select:hover {
      background-color:#FFF;
      color:inherit;
    }
    .colored .select:hover .arrow-down,.colored .select.s .arrow-down {
      border-bottom:1px solid #000;
      border-right:1px solid #000;
    }
  .arrow-down {
    position:absolute;
    width:0.5em;
    height:0.5em;
    border-bottom:1px solid #333;
    border-right:1px solid #333;
    -webkit-transform:  rotate(45deg);
    -moz-transform:     rotate(45deg);
    -o-transform:       rotate(45deg);
    transform:          rotate(45deg);
    right:3em;
    top:2em;
  }
    .select:hover .arrow-down,.select.s .arrow-down {
      border-bottom:1px solid #fff;
      border-right:1px solid #fff;
    }
    .select.s .arrow-down {
      -webkit-transform:  rotate(225deg);
      -moz-transform:     rotate(225deg);
      -o-transform:       rotate(225deg);
      transform:          rotate(225deg);
    }
  div.select li {
    list-style:none;

    span.byline {
        clear:both;
        text-transform:none;
        letter-spacing:0;
        margin-top:0.5em;
        width:100%;
        display:inline-block;
    }
  }
    .select.s ul {
      height:auto;
    }
  .select ul {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background-color:#FFF;
    padding:0;
    margin-top:2px;
    max-height:10em;
    overflow-y:scroll;
    box-shadow:0 0 1em 0 rgba(0,0,0,0.2);
    height:0;
  }
  .select .options a {
    border:none;
    color:#666;
    width:100%;
    font-size:1em;
    margin-top:0;
  }
    .select .options a:hover {
      color:#FFF;
      background-color:#999;
    }
  .select li + li {
    border-top:1px solid #eee;
  }
.sp-byline {
    margin:1em 0 1.5em 0;
}
.sf-back {
    a {
        text-transform:uppercase;
        color:#999;
    }

    a:hover {
        color:#000;
        border-bottom:1px dotted #000;
    }
}